*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
.backgroundimg{
  position: absolute;
  width: 100%;
}
.Redberry{
  position: relative;
  width: 236px;
  height: 38px;
  top: 70px;
  left: 25px;
}
.resume{
  position: relative;
  width: 130px;
  height: 23px;
  top: 37px;
  left: 1320px;
  font-family: "HelveticaNeue";
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}
.Line{
  position: relative;
  width: 1435px;
  max-width: 100%;
  top: 79px;
  left: 29px;
  border: 1px solid #1A1A1A;
}
.button{
  position: relative;
  width: 464px;
  height: 60px;
  top: 413px;
  left: 528px;
  border-radius: 8px;
  gap: 20px;
  background-color: #1A1A1A;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.Logo{
  position: relative;
  width: 299px;
  height: 299px;
  top: 313px;
  left: 906px;
}